{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "24.0"
        },
        "modules": false
      }
    ],
    [
      "@babel/typescript",
      {
        "onlyRemoveTypeImports": false
      }
    ]
  ],
  "overrides": [
    {
      "test": "./src/**/*.tsx",
      "presets": ["@babel/preset-react"]
    }
  ],
  // 不考虑文件体积, 全部编译
  "compact": false,
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src",
        "rootPathPrefix": "~/src"
      }
    ]
  ]
}
