lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
release
build

#   输出的电子书
知乎助手输出的电子书/**/*
微备份输出的电子书/**/*
稳部落输出的电子书/**/*
#   缓存文件
缓存文件/**/*
#   运行日志
runtime.log


#   配置文件
# .vscode
.idea

#   项目内置配置
config.json
task_config_list.json
read_list.txt
#用户自定义任务列表
customer_task_config.json

#   图形化界面
gui/dist
client/dist

*.sqlite
*.sqlite3

#   构建结果
out
app/dist