registry="https://registry.npmmirror.com"
#   源配置为: https://npm.taobao.org/dist 看起来不对, 换成淘宝node地址
disturl="https://npmmirror.com/mirrors/node"
nvm_nodejs_org_mirror="https://npmmirror.com/mirrors/node"
