registry="https://registry.npmmirror.com"
#  源配置为: https://npmmirror.com/dist 看起来不对, 换成淘宝node地址
disturl="http://npmmirror.com/mirrors/node"
nvm_nodejs_org_mirror="http://npmmirror.com/mirrors/node"
NODEJS_ORG_MIRROR="http://npmmirror.com/mirrors/node"
sass_binary_site="http://npmmirror.com/mirrors/node-sass"
electron_mirror="http://npmmirror.com/mirrors/electron/"
SQLITE3_BINARY_SITE="http://npmmirror.com/mirrors/sqlite3"
profiler_binary_host_mirror="http://npmmirror.com/mirrors/node-inspector/"
node_inspector_cdnurl="https://npmmirror.com/mirrors/node-inspector"
selenium_cdnurl="http://npmmirror.com/mirrors/selenium"
puppeteer_download_host="https://npmmirror.com/mirrors"
chromedriver_cdnurl="https://npmmirror.com/mirrors/chromedriver"
operadriver_cdnurl="https://npmmirror.com/mirrors/operadriver"
phantomjs_cdnurl="https://npmmirror.com/mirrors/phantomjs"
fse_binary_host_mirror="https://npmmirror.com/mirrors/fsevents"
sharp_binary_host="https://npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host="https://npmmirror.com/mirrors/sharp-libvips"
#   配置msvs版本----github action上为2019, 所以这里和github同步
#   本地需要改为2017
msvs_version=2022