# 构建时屏蔽镜像地址(阿里云镜像似乎未向 github 服务器提供服务, 导致构建速度异常慢)

registry "https://registry.npmmirror.com"
sass_binary_site "https://npmmirror.com/mirrors/node-sass/"
electron_mirror "https://npmmirror.com/mirrors/electron/"
SQLITE3_BINARY_SITE "https://npmmirror.com/mirrors/sqlite3"
sharp_binary_host "https://npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host "https://npmmirror.com/mirrors/sharp-libvips"

# 配置 msvs 版本----github action 上为 2022, 所以这里和 github 同步

# 本地需要和 VS 中安装的版本保持一致, 目前是 2017

msvs_version 2022
