<table class="margin-center">
    <thead>
    <tr>
        <td colspan="2">
            用户信息
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>用户名</th>
        <td>
            <a href="http://www.zhihu.com/people/{author_id}">{name}</a>
        </td>
    </tr>
    <tr>
        <th>关注人数</th>
        <td>{follower}</td>
    </tr>
    <tr>
        <th>提问</th>
        <td>{asks}</td>
    </tr>
    <tr>
        <th>回答</th>
        <td>{answers}</td>
    </tr>
    <tr>
        <th>专栏文章</th>
        <td>{posts}</td>
    </tr>
    <tr>
        <th>公共编辑次数</th>
        <td>{logs}</td>
    </tr>
    <tr>
        <th>被赞同</th>
        <td>{agree}</td>
    </tr>
    <tr>
        <th>被收藏</th>
        <td>{collected}</td>
    </tr>
    <tr>
        <th>被感谢</th>
        <td>{thanks}</td>
    </tr>
    <tr>
        <th>被分享</th>
        <td>{shared}</td>
    </tr>
    </tbody>
</table>
