/* 设置背景色，清除缩进 */
body {
  background: #f2f2f2;
  text-indent: 0em !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  word-wrap: break-word;
  /* 自动折行 */
}
.container {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  flex-direction: column;
}
.mblog-container {
  flex: 6;
  border-bottom: 1px solid #e6e6e6;
}
.mblog-container hr {
  display: none;
}
.mblog-container a {
  text-decoration: none;
}
.mblog-container .card-wrap {
  background-color: #ffffff;
  border-bottom-color: #e6e6e6;
}
.mblog-container .card-wrap .m-avatar-box {
  display: flex;
  flex-direction: row;
  width: 40px;
  padding-top: 0.9375rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mblog-container .card-wrap .m-avatar-box .m-img-box {
  width: 40px;
  height: 50px;
}
.mblog-container .card-wrap .m-avatar-box .m-img-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box {
  display: flex;
  width: 10rem;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box a h3.m-text-cut {
  height: 20px;
  line-height: 100%;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box h4.m-text-cut {
  color: #939393;
  height: 15px;
  font-size: 15px;
  margin: 0;
  font-weight: normal;
}
.mblog-container .card-wrap .weibo-main {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 100%;
  font-size: 20px;
  color: #333;
}
.mblog-container .card-wrap .weibo-main .weibo-text {
  line-height: 1.5;
  word-wrap: break-word;
}
.mblog-container .card-wrap .weibo-main .weibo-text a {
  color: #3c6e9e;
}
.mblog-container .card-wrap .weibo-main .weibo-text .url-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.125rem;
  width: 1rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
.mblog-container .card-wrap .weibo-main .weibo-text .url-icon img {
  width: 1rem;
  height: 1rem;
}
.mblog-container .card-wrap .weibo-main .weibo-og {
  padding: 0.75rem 0 0 0.25rem;
}
.mblog-container .card-wrap .weibo-main ul.m-auto-list {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.mblog-container .card-wrap .weibo-main img {
  max-width: 720px;
}
.mblog-container .card-wrap .weibo-main .weibo-img-list-container {
  page-break-after: always;
}
.mblog-container .card-wrap .weibo-main .weibo-img-list-container img {
  margin-bottom: 3px;
  page-break-after: always;
}
.mblog-container .card-wrap .weibo-main .weibo-rp {
  background-color: #f7f7f7;
  margin-top: 0.5rem;
  padding: 0.75rem;
  line-height: 1.5;
}
.mblog-container .card-wrap .weibo-main .weibo-rp a {
  color: #3c6e9e;
}
.mblog-container .card-wrap .weibo-main .weibo-rp .weibo-text {
  margin-bottom: 14px;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_toppic img {
  width: 100%;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .title {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.875rem;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .art-con p,
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .article-content p {
  margin: 0 0 16px;
  padding: 0;
  font-size: 22px;
  line-height: 1.5;
}
.mblog-container .card-wrap .m-ctrl-box {
  display: flex;
  height: 1.1rem;
  padding: 1rem 0.375rem 1rem 0;
  margin: 0 0.75rem;
  justify-content: space-between;
  align-items: center;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-a {
  display: flex;
  align-items: center;
  margin-left: 1.6875rem;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-retweet {
  margin-left: 0;
}
.mblog-container .card-wrap .m-ctrl-box .m-diy-btn {
  color: rgba(40, 47, 60, 0.8);
  height: 100%;
}
.panel .panel-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 20px 0;
}
.panel .list-group {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.panel .list-group ol {
  width: 100%;
  margin: 0 20px ;
}
.panel .list-group li {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  align-items: center;
}
.panel .list-group li a.list-group-item {
  text-decoration: none;
  color: #5c6975;
}
