* {
  box-sizing: border-box;
}
/* 设置背景色，清除缩进 */
body {
  background: #f2f2f2;
  text-indent: 0em !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  word-wrap: break-word;
  /* 自动折行 */
}
.container {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  flex-direction: column;
}
@font-face {
  font-family: litefont;
  src: url(../font/iconfont.ttf);
  font-weight: 400;
  font-style: normal;
}
.lite-iconf {
  font-family: litefont !important;
  font-size: 22px;
  color: #fff;
  /* 覆盖i的默认斜体样式 */
  font-style: normal;
}
.lite-iconf-setup:before {
  content: '\E001';
}
.lite-iconf-share:before {
  content: '\E002';
}
.lite-iconf-eit:before {
  content: '\E004';
}
.lite-iconf-editor:before {
  content: '\E005';
}
.lite-iconf-profile:before {
  content: '\E006';
  color: #282f3c;
  font-size: 1.625rem;
}
.lite-iconf-message:before {
  content: '\E007';
}
.lite-iconf-report:before {
  content: '\E008';
}
.lite-iconf-comments:before {
  content: '\E009';
}
.lite-iconf-like:before {
  content: '\E010';
}
.lite-iconf-liked:before {
  content: '\E011';
  color: #db5f5f;
}
.lite-iconf-emote:before {
  content: '\E012';
}
.lite-iconf-pic:before {
  content: '\E013';
}
.lite-iconf-edit:before {
  content: '\E014';
}
.lite-iconf-his:before {
  content: '\E015';
}
.lite-iconf-horn:before {
  content: '\E016';
}
.lite-iconf-each {
  color: #697480;
  font-size: 0.8125rem;
}
.lite-iconf-each:before {
  content: '\E017';
}
.lite-iconf-female {
  font-size: 0.8125rem;
}
.lite-iconf-female:before {
  content: '\E018';
  color: #697480;
}
.lite-iconf-male {
  font-size: 0.8125rem;
}
.lite-iconf-male:before {
  content: '\E019';
  color: #697480;
}
.lite-iconf-dm {
  font-size: 1.625rem;
  padding-left: 1px;
}
.lite-iconf-dm:before {
  content: '\E021';
  color: #697480;
}
.lite-iconf-releas {
  font-size: 1.25rem;
}
.lite-iconf-releas:before {
  content: '\E022';
  color: #282f3c;
}
.lite-iconf-home_h:before {
  content: '\E023';
}
.lite-iconf-home:before {
  content: '\E024';
}
.lite-iconf-msg_h:before {
  content: '\E025';
}
.lite-iconf-msg:before {
  content: '\E026';
}
.lite-iconf-account_h:before {
  content: '\E027';
}
.lite-iconf-account:before {
  content: '\E028';
}
.lite-iconf-video_h:before {
  content: '\E029';
}
.lite-iconf-video:before {
  content: '\E030';
}
.lite-iconf-refresh:before {
  content: '\E032';
}
.lite-iconf-account_h,
.lite-iconf-home_h,
.lite-iconf-msg_h,
.lite-iconf-video_h {
  color: #282f3c;
  font-size: 1.375rem;
}
.lite-iconf-account,
.lite-iconf-home,
.lite-iconf-msg,
.lite-iconf-video {
  color: #000;
  font-size: 1.375rem;
}
.lite-iconf-comments,
.lite-iconf-like,
.lite-iconf-liked,
.lite-iconf-report,
.lite-iconf-share {
  color: rgba(40, 47, 60, 0.8);
  font-size: 1.125rem;
}
.mblog-container {
  flex: 6;
  border-bottom: 1px solid #e6e6e6;
}
.mblog-container hr {
  display: none;
}
.mblog-container a {
  text-decoration: none;
}
.mblog-container .card {
  margin-bottom: 11.25px;
}
.mblog-container .m-panel {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-color: #e6e6e6;
  border-style: solid;
  background: #fff;
}
.mblog-container .card-wrap {
  margin: 0 15px;
  padding-top: 18.75px;
}
.mblog-container .card-wrap .card-main {
  margin: 0 -15px;
}
.mblog-container .card-wrap .m-avatar-box {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}
.mblog-container .card-wrap .m-avatar-box .m-img-box {
  width: 50px;
  height: 50px;
}
.mblog-container .card-wrap .m-avatar-box .m-img-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.mblog-container .card-wrap .m-avatar-box .m-box-center {
  display: flex;
  justify-content: center;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box {
  display: block;
  /* 增大宽度, 适配用户名过长的情况 */
  margin-left: 15px;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box a h3.m-text-cut {
  color: #f46200;
  font-size: 18.75px;
  line-height: 1.4;
  white-space: nowrap;
  font-weight: normal;
  margin: 0;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box a h3.m-text-cut .m-icon {
  display: inline-block;
  vertical-align: top;
  background-image: url(../image/sprite.svg);
  background-size: 3em 57em;
  width: 1em;
  height: 1em;
  font-size: 18px;
  vertical-align: -0.125rem;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box a h3.m-text-cut .m-icon-vipl7 {
  background-position: -1em -55em;
}
.mblog-container .card-wrap .m-avatar-box .m-box-col .m-text-box h4.m-text-cut {
  color: #939393;
  line-height: 1.5;
  height: 24px;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
.mblog-container .card-wrap .weibo-main {
  height: 100%;
  font-size: 20px;
  color: #333;
}
.mblog-container .card-wrap .weibo-main .weibo-text {
  line-height: 1.5;
  word-wrap: break-word;
}
.mblog-container .card-wrap .weibo-main .weibo-text a {
  color: #3c6e9e;
}
.mblog-container .card-wrap .weibo-main .weibo-text .url-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.125rem;
  width: 1rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
.mblog-container .card-wrap .weibo-main .weibo-text .url-icon img {
  width: 1rem;
  height: 1rem;
}
.mblog-container .card-wrap .weibo-main .weibo-og {
  padding: 0.75rem 0 0 0.25rem;
}
.mblog-container .card-wrap .weibo-main ul.m-auto-list {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.mblog-container .card-wrap .weibo-main img {
  max-width: 720px;
}
.mblog-container .card-wrap .weibo-main .weibo-img-list-container {
  page-break-after: always;
}
.mblog-container .card-wrap .weibo-main .weibo-img-list-container .m-img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.mblog-container .card-wrap .weibo-main .weibo-img-list-container img {
  page-break-after: always;
}
.mblog-container .card-wrap .weibo-main .weibo-rp {
  background-color: #f7f7f7;
  margin-top: 0.5rem;
  padding: 0.75rem;
  line-height: 1.5;
}
.mblog-container .card-wrap .weibo-main .weibo-rp a {
  color: #3c6e9e;
}
.mblog-container .card-wrap .weibo-main .weibo-rp .weibo-text {
  margin-bottom: 14px;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_toppic img {
  width: 100%;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .title {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.875rem;
}
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .art-con p,
.mblog-container .card-wrap .weibo-main .weibo-article-container .main_editor .article-content p {
  margin: 0 0 16px;
  padding: 0;
  font-size: 22px;
  line-height: 1.5;
}
.mblog-container .card-wrap .m-ctrl-box {
  display: flex;
  height: 1.1rem;
  padding: 1rem 0.375rem 1rem 0;
  margin: 0 0.75rem;
  justify-content: space-between;
  align-items: center;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-col {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mblog-container .card-wrap .m-ctrl-box h4 {
  font-size: 16px;
  margin-left: 5px;
  font-weight: normal;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-a {
  display: flex;
  align-items: center;
  margin-left: 1.6875rem;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-retweet {
  margin-left: 0;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-retweet h4 {
  margin-left: 1px;
}
.mblog-container .card-wrap .m-ctrl-box .m-box-center-comment {
  border-color: #d9d9d9;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
}
.mblog-container .card-wrap .m-ctrl-box .m-diy-btn {
  color: rgba(40, 47, 60, 0.8);
  height: 100%;
}
.panel .panel-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 20px 0;
}
.panel .list-group {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.panel .list-group ol {
  width: 100%;
  margin: 0 20px;
}
.panel .list-group li {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  align-items: center;
}
.panel .list-group li a.list-group-item {
  text-decoration: none;
  color: #5c6975;
}
