<div class="answer">

    <div class="author">
        <div class="author-info">
            <div class="author-base">
                <div class="author-logo">
                    <img src="{author_avatar_url}" width="25" height="25"></img>
                </div>

                <span class="author-name">
            <a href="http://www.zhihu.com/people/{author_id}">{author_name}</a>
        </span>

                <span class="author-sign">{author_headline}</span>
            </div>

            <div class="clear-float"></div>
        </div>
    </div>

    <div class="content">
        {content}
    </div>

    <div class="comment">
        <div class="extra-info">
            <p class="comment">评论数:{comment_count}</p>

            <p class="agree">赞同数:{voteup_count}</p>

            <p class="update-date">更新时间:{updated_time}</p>
        </div>
    </div>
</div>

<hr/>
